
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onLogin(f)"  #f="ngForm" style="width: 224px" >
          <div class="form-group">
            <label for="email" >Email</label>
            <input type="text" ngModel class="form-control" name="email" email required #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
          <div class="form-group">
            <label for="password" >Password</label>
            <input type="password" ngModel class="form-control" name="password" minlength="6" password required #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter at least 6 characters</span>

          </div>
          
          <button type="submit" class="btn btn-primary" [disabled]= "!f.valid">Login</button>

          </form>

  </div>
</div>


