<form action="">
  <div class="container">
      <!-- <h1>Please Sign Up</h1> -->
  
      <div class="row">
        <div class="col-md-6">
          <!-- <fieldset id="field-set" class="form-group"> -->
            <legend>New User Info</legend>
  
            <div class="form-group">
              <label class="col-md-4 control-label">First Name</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="firstname" placeholder="First Name" class="form-control" type="text">
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-md-4 control-label">Last Name</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="lastname" placeholder="Last Name" class="form-control" type="text">
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-md-4 control-label">Phone #</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                  <input name="phone" placeholder="+43 1 3322345" class="form-control" type="text">
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-md-4 control-label">Address</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input name="street" placeholder="street" class="form-control" type="text">
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-md-4 control-label">City</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input name="city" placeholder="city" class="form-control" type="text">
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-md-4 control-label">State</label>
              <div class="col-md-8 selectContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                  <select name="state" class="form-control selectpicker">
                    <option value=" " >Please select your state</option>
                    <option>Burgenland</option>
                    <option>Vorarlberg</option>
                    <option >Salzburg</option>
                    <option >Carinthia</option>
                    <option >Tyrol </option>
                    <option >Styria </option>
                    <option >Upper Austria</option>
                    <option >Lower Austria</option>
                    <option >Vienna</option>
                  </select>
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label class="col-md-4 control-label">Zip Code</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input name="zipcode" placeholder="Zip Code" class="form-control" type="text">
                </div>
              </div>
            </div>

        



          <!-- </fieldset> -->
  
        

        </div>
  
        <!-- <div id="user-list" class="col-md-6">
  
        </div> -->
  
    
  






















      <!-- <fieldset id="field-set" class="form-group"> -->
    <div class="col-md-6">
      <!-- <h1>Please Sign Up</h1> -->
      <legend>New User Info</legend>

          <!-- radio checks -->
 <!-- <div class="form-group"> -->

    <div class="form-group">
        <label class="col-md-4 control-label">IBAN</label>
        <div class="col-md-8 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
            <input name="street" placeholder="AT34 2011 1823 4213 4000" class="form-control" type="text">
          </div>
        </div>
      </div>


    <label  class="col-md-4 control-label">Upload Either of the files?</label>
    <div class="col-md-4">
        <div class="radio">
            <label>
                <input type="radio" name="passorid" value="yes" /> Passport
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="passorid" value="no" /> ID
            </label>
        </div>
    </div>
<!-- </div> -->


<span class="control-fileupload">
<label for="file1" class="text-left">Please choose a file on your computer.</label>
<input type="file" id="file1">
</span>

     
  
          

     
<div class="form-group" style="padding-top: 5%">
    <button id="add-user-btn"  style="width: 30%" class="btn btn-lg btn-primary btn-block new-post-button">Submit</button>
  </div>
  
      </div>
     




  </div>
</div>


  </form>